<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="7zip" />
  <package id="7zip.install" />
  <package id="adobereader" />
  <package id="angryip" />
  <package id="autohotkey" />
  <package id="autohotkey.install" />
  <package id="autohotkey.portable" />
  <package id="bulk-crap-uninstaller" />
  <package id="chocolatey" />
  <package id="chocolatey-compatibility.extension" />
  <package id="chocolatey-core.extension" />
  <package id="chocolatey-windowsupdate.extension" />
  <package id="cports" />
  <package id="discord" />
  <package id="discord.install" />
  <package id="dotnet-6.0-desktopruntime" />
  <package id="dotnet-desktopruntime" />
  <package id="DotNet3.5" />
  <package id="DotNet4.5.2" />
  <package id="Firefox" />
  <package id="fluent-terminal" />
  <package id="github-desktop" />
  <package id="GoogleChrome" />
  <package id="greenshot" />
  <package id="KB2919355" />
  <package id="KB2919442" />
  <package id="KB2999226" />
  <package id="KB3033929" />
  <package id="KB3035131" />
  <package id="KB3063858" />
  <package id="kubernetes-cli" />
  <package id="kubernetes-helm" />
  <package id="nmap" />
  <package id="notepadplusplus" />
  <package id="notepadplusplus.install" />
  <package id="pdfsam" />
  <package id="pdfsam.install" />
  <package id="pia" />
  <package id="powertoys" />
  <package id="procmon" />
  <package id="putty" />
  <package id="putty.portable" />
  <package id="rufus" />
  <package id="sublimetext3" />
  <package id="vcredist140" />
  <package id="virtualclonedrive" />
  <package id="vlc" />
  <package id="vscode" />
  <package id="vscode.install" />
  <package id="wireshark" />
</packages>